.card {
  display: inline-block;
  width: 3.3em;
  height: 4.6em;
  border: 1px solid #666;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  -khtml-border-radius: .3em;
  padding: .25em;
  margin: 0 .5em .5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #fff;
  -moz-box-shadow: .2em .2em .5em #333;
  -webkit-box-shadow: .2em .2em .5em #333;
  box-shadow: .2em .2em .5em #333;
}


div.dealer > div.hand{
  margin: 25% 50%;  
}

div.player > div.hand{
  margin: 110% 50%;  
}

#deck {
  display: inline;    
  float: left;
  background-color: #000000;
  position: static;
}

.suit {
  display: block;
  margin-top: -6.4em;
  text-align: center;
  white-space: pre;
  line-height: 0.9;
  font-size: 1.3em;
  word-spacing: -0.5em;
}

div.dealer > div.hand > div.suit {
  margin-top: -4em;
}  

.board {
  background-color: green;
  height: 40em;
  width: 50em;
  border-radius: .5em;
  border: 1.5em solid #670A0A;
  margin: 1em 1em 1em 1em;
}

.dealer {
  height: 40%;
  width: 50%;
  margin: 5% auto;
  border: .25em solid #fff;
  padding: .5em;
}

.player {
  height: 40%;
  width: 33%;
  margin: 5% auto;
  border: .25em solid #fff;
  padding: .5em;
}

.d:after {
  content: "\2666";
  font-size: 2.3em;
  text-align: center;
  color: red;
}

.h:after {
  content: "\2665";
  font-size: 2.3em;
  text-align: center;
  color: red;
}

.s:after {
  content: "\2660";
  font-size: 2.3em;
  text-align: center;
}

.c:after {
  content: "\2663";
  font-size: 2.3em;
  text-align: center;
}
.value {
  display: block;
  line-height: 1;
  text-align: left;
}

.inverted{
  transform: scaleY(-1) scaleX(-1); 

}
#game > div > div.dealer > div.hand > div:nth-child(1) {
  background-color: #000000;
}
